<div class="container-fluid header-body">

  <div class="row justify-content-">

    <div class="col-1
                col-sm-1
                col-md-1">
      <img [src]="pickwinlogo">
    </div>

    <div class="col-12
                col-sm-12
                col-md-2 offset-md-9">
      <table>
        <tr>
          <td class="register">
            <div class="header-options" (click)="openRegister()">
              <span class="icon glyphicon glyphicon-user"></span>
              <span><i class="fas fa-user"></i>&nbsp;&nbsp;REGÍSTRATE</span>
            </div>
          </td>
          <td class="log-in">
            <div class="header-options">
              <span class="icon glyphicon glyphicon-log-in"></span>
              <span><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;INGRESAR</span>
            </div>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>
