<div class="container-fluid header-body">

  <div class="row justify-content-">

    <div class="col-1
                col-sm-1
                col-md-1">
      <img src="../../assets/img/pickwinColores-50.png">
    </div>

    <div class="col-12
                col-sm-12
                col-md-2 offset-md-9">
      <table>
        <tr>
          <td class="register">
            <a href="#">
              <span class="icon glyphicon glyphicon-user"></span>
              <span><i class="fas fa-user"></i>&nbsp;&nbsp;REGÍSTRATE</span>
            </a>
          </td>
          <td class="log-in">
            <a href="#">
              <span class="icon glyphicon glyphicon-log-in"></span>
              <span><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;INGRESAR</span>
            </a>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>
