  <div class="container-fluid">
    <!--<div class="row">-->
      <!--<div class="col-10 offset-1-->
                <!--col-sm-10 offset-sm-1-->
                <!--col-xl-8 offset-xl-2" style="background-color: purple; color: white;">Holi</div>-->
    <!--</div>-->

    <div class="row  justify-content-md-center">
      <div class="col-10 offset-1
                col-sm-10 offset-sm-1
                col-xl-8 offset-xl-1">
        <img class="banner-size d-md-inline-block d-sm-none d-none" [src]="bannerIzq">
        <img class="banner-size d-md-inline-block" [src]="bannerCen">
        <img class="banner-size d-md-inline-block d-sm-none d-none" [src]="bannerDer">
      </div>
    </div>

    <div class="row">
      <div class="col-10 offset-1
      col-sm-10 offset-sm-1
      col-xl-8 offset-xl-2" style="background-color: purple; color: white;">Holi</div>
    </div>

  </div>

